

@font-face {
  font-family: 'sjans';
  src: url(fonts/OpenSans_Condensed-Light\ copy.ttf) format('truetype');

}


body, html {
  height: 100%;
  font-family: sjans;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-color: white;
  background-size: cover;
}

/* Container boven - afbeelding centraal */
.container_boven {
width: 100%;
height: 85vh;          /* volledige hoogte zodat afbeelding midden komt */
display: flex;
justify-content: center;
align-items: center;
}

.afb1 {
max-width: 40vw;        /* maximaal 40% van schermbreedte */
max-height: 50vh;       /* maximaal 40% van schermhoogte */
object-fit: contain;
cursor: pointer;
}

/* Container onder - deze zelf hoeft geen flex */
.container_onder {
width: 100%;
height: 100%;
position: relative;    /* parent voor absolute elementen */
}

/* Klik-link linksonder */
a.klik {
position: fixed;       /* blijft op dezelfde plek bij scrollen */
left: 5%;              /* 5% vanaf linkerzijde */
bottom: 5%;            /* 3% vanaf onderzijde */
color: black;
text-decoration: none;
}

a.klik:hover {
color: blue;
}


/* Info rechtsonder */
.info {
position: fixed;
right: 5%;             /* 5% vanaf rechterzijde */
bottom: 5%;            /* 3% vanaf onderzijde */
color: black;
text-align: right;
}

a.mailto{
  color:black;
  text-decoration: none;
}

a.mailto:hover{
  color:blue;
}

.banner0{
  
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  color:blue;
  padding: 10px;
  justify-content: center;
  align-items: flex-end;

  animation: moveBanner 20s linear infinite; /*adjust as needed xx */
  white-space: nowrap;

  font-family: sjans;

}

@keyframes moveBanner {

  from {
    transform: translateX(100%);
  }

  to{
    transform: translateX(-100%);
  }
}


     

/* .left-pane  {
 
  background-color: rgb(45, 25, 0);
  width: 50px;
  height: 500px;

  display: inline-block;
  margin: 10px;
  padding-left: 20px;

  color: whitesmoke;
} 


.right-pane {
    
    background-color: rgb(127, 159, 142);
    width: 50px;
    height: 500px;
    display: inline-block;
    margin: 10px;
    padding-left: 20px;

    float: right;
    } */

/* over de panes:: width, height, background color, so we can see a square */
 /* inline block: so that they are aligned next to each other instead */
  /* margin added to bring them a bit down and add some space between them */  


/* GA ff checken hoe je dingen aan de rechterkant kan zetten
    backgrounnd image! 
    ander lettertype downloaden */